body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* -----------------------------------------*/

.section-one {
    width: 100%;
}

.background {
    background-image: url(images/need.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}

.container {
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.container-header {
    font-size: 70px;
    padding: 0;
    margin-bottom: 10px;
    color: white;
}

.container-p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
    color: white;
}

.btn-DonateNow {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: orangered;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

/* -----------------------------------------*/

.section-two {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.donate-today-header {
    font-size: 50px;
    padding: 0;
    margin-bottom: 10px;
    color: black;
}

.donate-today-p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
    color: gray;
}

.money-select {
    display: flex;
    width: 50%;
    margin: auto;
}

.money-select .tk {
    background-color: rgb(244, 244, 244);
    color: gray;
    padding: 20px;
    width: 110px;
    height: 100px;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 8px;
}

.money-select .tk-200 {
    color: orangered;
    border: 3px solid orangered;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    width: 110px;
    height: 100px;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 8px;
}

.input-amount .other-amount {
    margin-top: 50px;
    width: 50%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    margin-bottom: 50px;
}

/* -----------------------------------------*/

.section-three {
    width: 100%;
    margin-top: 100px;

}

.donate-plan-header {
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    color: black;
}

.donate-plan-p {
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 50px;
    color: gray;
}

.card {
    display: flex;
    margin: auto;
    padding-left: 120px;
    padding-right: 120px;
}

.card .card1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-right: 30px;
    background-color: whitesmoke;
    border-radius: 8px;
}

.card .card2 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-right: 30px;
    background-color: rgb(252, 233, 236);
    border-radius: 8px;
}

.card .card3 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: rgb(250, 250, 193);
    border-radius: 8px;
}

.card-image {
    width: 60px;
    height: 60px;
}

/* -----------------------------------------*/

.section-four {
    width: 100%;
    margin-top: 100px;

}

.story {
    display: flex;
    margin: 10%;
    background-color: darkslategray;
    padding-left: 20px;
    border-radius: 10px;
}

.story-text {
    width: 50%;
    padding-top: 10px;
    padding-right: 100px;
}

.story-header {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.story-p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
    color: rgb(192, 184, 184);
}

.story-image {
    width: 50%;
}

.story-image img {
    width: 90%;
    padding: 30px;
}

.btn-continue {
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: orangered;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

/* -----------------------------------------*/

.section-five {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.update-header {
    padding-top: 0;
    margin-top: 0;
    font-size: 50px;
    font-weight: 900;
}

.update-p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
    color: gray;
}

.box {
    margin: auto;
    width: 850px;
    height: 180px;
    background-color: bisque;
}

.form {
    padding: 70px 70px;
    display: flex;

}

.email {
    margin-left: 120px;
    width: 300px;
    font-size: 18px;
    height: 39px;
    padding-left: 20px;

}

.btn-subscribe {
    height: 45px;
    width: 150px;
    font-size: 18px;
    color: white;
    background-color: orangered;
    border: 0;
    outline: 0;
}

/* -----------------------------------------*/

footer {
    margin-top: 100px;
    padding-top: 0;
    color: white;
    background-color: black;
    height: 200px;
    text-align: center;
}

footer h1 {
    padding-top: 20px;
    color: orangered;
    font-size: 50px;
    font-style: italic;
}

/* -----------------------------------------*/